/*Main index*/
.main{
    background-color: $amarlogo;

    .banner__imagen{
        width: 100%;



        .banner__subtitulo{

            display: flex;
           justify-content: center;


           
.pago__titulo{
    display: flex;
    justify-content: center;


    .pago__items{   
        display:flex;
        justify-content: center;

        .pago__img{
            width: 50px;
            
        }
    }
   

}
        
            
        
        }
    
      
    }
    
}


 











