/*Media Queries - Estilos moviles*/

@media screen and ( max-width: 1024px ) { /*desktop*/
    
}

@media screen and ( max-width: 768px ) { /*tablet*/
    
    /*Main Contacto*/
.contacto__conten{
    box-shadow: 0 0 10px 0 rgba(250, 4, 4, 0.808);
    margin: 1rem;
    max-width: 800pxauto;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 80 20;
    

}
}
@media screen and ( max-width: 425px ) { /*movil*/
  /*Index*/
    .menu__ul{
        display: flex;
        flex-direction: rows;
        gap: 10px;
        padding: 1rem 3rem;
        list-style: none;
        
    
    }



    

/*CATALOGO*/

.tienda__conten{ 
    display: flex;
    flex-direction:column;
    align-items: center;
    

}

.canasta__img{
    width:240px;
}

.canasta__descripcion--li{
    list-style: none;
    width:240px;
}

/* Main CATALOGO*/



/*Main cotizar*/
.cotizar__conten{
    box-shadow: 0 0 10px 0 rgba(250, 4, 4, 0.808);
    margin:1rem 1rem ;
    width:auto;
    padding: 1.5rem;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #ffde59;
    

}

/*Main Nosotros*/

.nosotros{
    box-shadow: 0 0 10px 0 rgba(250, 4, 4, 0.808);
    margin:1rem 1rem ;
    width:auto;
    padding: 1.5rem;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #ffde59;
    

}
/*Main Contacto*/
.contacto__conten{
    box-shadow: 0 0 10px 0 rgba(250, 4, 4, 0.808);
    margin: 1rem;
    max-width: 800px;
    padding: 1.5rem;
    display: flex;
    flex-direction:column;
    align-items: center;
   

}

/*Footer*/

.footer{

    display: flex;
    flex-direction:column;
    align-items: center;
   
}

.Social__ul{
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 1rem;
  

}
.Direccion{
width: 80%;


}
}
/*max-width: hasta
min-width: desde*/